<section id="hero" class="hero-section">
  <div class="container hero-content">
    <picture class="hero-bg">
      <!-- Desktop -->
      <source
        srcset="/img/hero/block_desk@2x.avif"
        type="image/avif"
        media="(min-width:1024px)"
      />
      <source
        srcset="/img/hero/block_desk@2x.jpg"
        type="image/jpeg"
        media="(min-width:1024px)"
      />

      <!-- Tablet -->
      <source
        srcset="/img/hero/block_tab@2x.avif"
        type="image/avif"
        media="(min-width:768px)"
      />
      <source
        srcset="/img/hero/block_tab@2x.jpg"
        type="image/jpeg"
        media="(min-width:768px)"
      />

      <!-- Mobile -->
      <source
        srcset="/img/hero/block_mob@2x.avif"
        type="image/avif"
        media="(max-width:767px)"
      />
      <source
        srcset="/img/hero/block_mob@2x.jpg"
        type="image/jpeg"
        media="(max-width:767px)"
      />

      <img
        src="/img/hero/block_desk@2x.jpg"
        alt="Hero background"
        class="hero-bg-img"
      />
    </picture>

    <h1 class="hero-text animated">
      Discover the joy of learning
      <span class="hero-english">English</span> with us!
    </h1>
    <a href="#application-form" class="button hero-button animated"
      >Leave an application</a
    >

    <div class="hero-checkmark">
      <a
        href="#footer"
        class="hero-checkmark-container animated"
        aria-label="Footer button"
      >
        <svg class="hero-svg" aria-hidden="true">
          <use xlink:href="/src/img/icons.svg#icon-checkmark"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
